.wrapper{
    /* border: 5px solid crimson; */
    padding: 0px 40px;
}
.intro{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-bottom: 1px solid #D8D3D3;
    /* border: 5px solid crimson; */
    margin-top: 50px;
}
.me{
    min-width: 140px;
    width: 40vw;
    max-width: 200px;
}
.meDetails{
    margin: 10px 0px;
}

.resumeWrapper{
    margin: 10px 0px;
    border-bottom: 1px solid #D8D3D3;
    /* border-bottom: 5px solid crimson; */
    display: flex;
    flex-direction: column;
}
.resumeWrapper section{
    margin: 30px 0px;
    /* border: 5px solid crimson; */
}
.title{
    font-size: 1.3em;
    margin-bottom: 10px;
}
.heading{
    font-size: 1.2em;
}
.subHeading{
    font-size: 1.1em;
}
.content{
    font-size: 0.9em;
    font-style: italic;
}
.pills{
    /* margin: 40px 0px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pill{
    flex: auto;
    padding: 10px 20px;
    background-color: #474545;
    border-radius: 1024px;
    color: white;
    margin: 5px;
    text-align: center;
    font-size: 0.9em;
}
.exp ul li{
    margin-bottom: 30px;
}
.contact{
    font-size: 1.2em;
}
.contactInfo{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid #474545; */
    align-self: center;
    font-size: 0.9em;
}

@media (min-width: 768px){
    .wrapper{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0px 25px;
    }
    .intro{
        flex-direction: row;
        /* margin-top: 0px; */
    }
    .me{
        /* border: 5px solid crimson; */
        min-width: 200px;
        width: 50vw;
        max-width: 300px;
        margin: 0px 50px;
    }
    .meDetails{
        margin: 0px 50px;
    }
    .resumeWrapper{
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 1.1em;
    }
    .resumeWrapper section{
        margin: 50px 50px;
    }
    .edu{
        width: 100%;
    }
    .expandskills{
        display: flex;
        flex-direction: row;
    }
    .expandskills > div{
        flex: 1;
        /* border: 5px solid cadetblue; */
    }
    .exp{
        margin-right: 50px;
    }
    .skills{
        margin-left: 50px;
    }
    .certi{
        width: 100%;
    }
    .contact{
        width: 100%;
        font-size: 1.2em;
    }
    .contactInfo{
        font-size: 0.65em;
    }
}