.wrapper{
    /* padding: 0px 5%; */
}
.intro{
    /* border: 5px solid lightgreen; */
    height: 874px;
    background-image: url(../assets/images/mobile/chessintro.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin: 0px -5%; */
}

.introCard{
    /* border: 5px solid cadetblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    margin-top: 100px;
}

.peiceWrapper{
    min-height: 100v;
    padding: 50px 0px;
    border-bottom: 1px solid #D8D3D3;
}

.peice{ 
    display: flex;
    flex-direction: column;
}

.peice > div, .peiceHeader > div{
    margin: 20px 0px;
}

.knightDetails{
    /* border: 5px solid crimson; */
    background: url(../assets/images/mobile/knightbg.svg);
    background-size: cover;
    background-position: center;
    padding: 50px 15px;
}

.bishopDetails{
    /* border: 5px solid crimson; */
    background: url(../assets/images/mobile/bishopbg.svg);
    background-size: cover;
    background-position: center;
    padding: 50px 15px;
}


.pImg{
    /* border: 5px solid lightgreen; */
    width: 100%;
    height: auto;
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pImg img{
    width: 40%;
}
.pSub strong{
    font-weight: 500;
    color: #EC3030;
}
.rockImagesMobile{
    /* border: 5px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.rockImagesMobile div{
    margin: 5px;
}
.rockImagesDesktop{
    display: none;
}
.sketches{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sketches div{
    width: 100%;
    margin: 5px;
}

.queenDetails{
    background: url(../assets/images/mobile/queenbg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 15px;
}

.kingDetails{
    background: url(../assets/images/mobile/kingbg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 15px;
}


@media (min-width: 768px){
    .intro{
        background: url(../assets/images/desktop/chessbg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        height: 100vh;
    }
    .introCard{
        /* border: 5px solid crimson; */
        margin-top: 0px;
        align-self: flex-start;
        flex-grow: 1;
        justify-content: center;
        margin-left: 10%;
    }
    .peiceWrapper{
        position: relative;
    }
    .peiceHeader{
        width: 60%;
    }
    .pImg{
        /* border: 5px solid lightgreen; */
        max-width: 500px;
        position: absolute;
        top: 50px;
        right: 0px;
    }    

    .bishopDetails{
        background: url(../assets/images/desktop/bishopbgdesktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 10px 50px;
    }
    .bishopDetails li{
        max-width: 80%;
    }
    .bishopImg{
        width: 60%;
        align-self: center;
    }
    
    .knightDetails, .rockImagesMobile{
        display: none;
    }
    
    .rockImagesDesktop{
        display: flex;
        flex-direction: row;    
    }
    .rockImagesDesktop div{
        margin: 5px;
    }
    .queenDetails, .kingDetails{
        /* border: 5px solid lightgreen; */
        background: url(../assets/images/desktop/queenbgdesktop.svg);
        background-repeat: no-repeat;
        width: 60%;
        background-size: cover;
        padding: 65px 35px;
    }
    .kingDetails{
        width: 60%;
        background: url(../assets/images/desktop/kingbgdesktop.svg);
        padding: 80px 50px;
    }
    .controls{
        width: 60%;
    }

    
    .sketches div{
        width: 40%;
    }

    .onDesktop60{
        width: 60%;
    }
}