.wrapper{
    position: absolute;
    width: 100%;
    padding: 10px 5%;
    top: 10px;
}
.header{
    /* border: 5px solid cadetblue; */
    z-index: 100;
    display: flex;
    padding-bottom: 10px;
    /* border-bottom: 1px solid #D8D3D3; */
}
.logo{
    /* border: 5px solid crimson; */
    flex-grow: 1;
    font-weight: 700;
}
.items{
    /* border: 5px solid crimson; */
    text-align: right;
}
.item{
    /* border: 5px solid lightgreen; */
    display: none;
    margin: 0px 15px;
}
@media (min-width: 768px){
    .header{    
        border-bottom: 1px solid #D8D3D3;
    }
    .items{
        font-weight: 700;
    }
    .item{
        display: initial;
    }
}