.wrapper{
    /* border: 5px solid cadetblue; */
    padding: 0px 5%;
}
.intro{
    /* border: 5px solid crimson; */
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-bottom: 1px solid #D8D3D3; */
    /* border: 5px solid crimson; */
    position: relative;
    top: 60px;
}
.introHeader{
    margin-top: 20px;
    font-size: 2.5em;
}
.introContent{
    /* border: 5px solid lightgreen; */
    font-size: 1.2em;
    margin: 15px 0px;
}
.introButton{
    font-size: 1.2em;
    position: absolute;
    bottom: 0;
}

.pills{
    /* margin: 40px 0px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.pill{
    flex: auto;
    padding: 10px 20px;
    background-color: #474545;
    border-radius: 1024px;
    color: white;
    margin: 5px;
    margin-left: 0px;
    text-align: center;
    font-size: 0.7em;
}
.projectWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
    padding: 70px 0px;
    border-bottom: 1px solid #D8D3D3;
    /* border-top: 1px solid #D8D3D3; */
}

.pImage{
    min-width: 150px;
    max-width: 400px;
    height: auto;
}

.pDetails{
    text-align: center;
    flex: 1;
    /* border: 5px solid crimson; */
}



@media (min-width: 768px){
    .wrapper{
        background: url(../assets/images/desktop/homepagebg.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0px 40px;
        /* border: 5px solid crimson; */
    }
    .introContent{
        width: 50vw;
    }
    .projectWrapper{
        /* border: 5px solid crimson; */
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .pills{
        justify-content: flex-start;
    }
    .pill{
        flex: none;
    }
    .pImage{
        width: 50%;
        max-width: 700px;
        height: auto;
    }
    .pDetails{
        width: 30%;
        text-align: left;
    }
    .pDesc{
        width: 70%;
    }
    .aboutWrapper{
        /* border: 5px solid lightgreen; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aContent{ 
        color: #4B4B4B; 
        font-size: 1.3em;
        margin: 75px 0px;
        width: 50%;
        margin-left: 50%;
        
    }
}
