*{
    box-sizing: border-box;
}
html{
    font-size: calc(16px + (19 - 16) * ((100vw - 300px) / (768 - 300)));
    background-color: #F6F6F6;
}
img{
    width: 100%;
    height: auto;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: initial;
}
a:visited{
    text-decoration: none;
    color: initial;
}

@media (min-width: 768px){
    html{
        font-size: calc(19px + (22 - 19) * ((100vw - 768px) / (2000 - 768)));
    }
}